@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <form method="get" asp-page="/Privacy" class="text-center">
        <p>
            <input asp-for="Text" class="form-control" />
        </p>
        <button type="submit" class="btn btn-primary">Küldés</button>
    </form>
</div>
